@charset "utf-8";

@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
@mixin flexRow{
    flex-direction: row;
}
@mixin flexCol{
    flex-direction: column;
}
@mixin justify-left{
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start
}
@mixin tn-50{
    width: 50%;
}
@mixin tn-flex-row{
    @include flex;
    @include flexRow;
}
@mixin tn-flex-column{
    @include flex;
    @include flexCol;
}

//PARAMETERS-----------
$padding1 : 1em;
$padding2 : 2em;
$padding3 : 1.6em;
//PARAMETERS-----------

select{
    line-height: 20px;
    height: 3em!important;
    width: 100% !important;
    background: var(--w);
}

body{
    background: var(--main_container);
    position: relative;

    .hide-static-btt{
        transform: translateY(20vh) !important;
    }

    .active--anim{
        transform: scale(.9)!important;
    }
    .active--anim--i{
        transform: rotate(45deg)!important;
    }
    .fixed-action-btn {
        position: fixed;
        transform: translateY(0) scale(1);
        transition: all .2s!important;
        z-index: 9999;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: auto;
        bottom: 0;
        right: 0;
        padding: 0;
        width: 100%;

        .btn-floating{
            display: flex;
            color: #fff;
            position: relative;
            z-index: 1;
            height: auto;
            line-height: 40px;
            padding: 0;
            transform: scale(1);
            transition: all .2s!important;
            cursor: pointer;
            width: fit-content;
            margin: 1em;

            &.child{
                background: var(--primair_color);
                margin: 0;
            }

            i:not(.fa-plus){
                background: #ffffff2b;
                padding: .5em;
                border-radius: 1000px;
            }
            .container-i{
                padding: 1em;
                border-radius: 100px;
                background: #44c4a0;
                width: 8vh;
                height: 8vh;
                aspect-ratio: 1;
                transition: all .2s!important;
                @include tn-flex-row;

                .fa-plus{
                    transform: rotate(0);
                    font-size: 22px;
                    transition: all .2s!important;
                }
            }


            @include tn-flex-row;

            div:not(.container-i) {
                font-size: 18px;
                text-align: center;
                position: absolute;
                bottom: 4em;
                visibility: hidden;
                transition: .2s all!important;
                opacity: 0;
                right: 0;
                width: 100%;
                max-width: 100%;
                height: 20vh;
                //transform: translateY(10vh) scaleY(0);
                transform-origin: bottom;
                margin: 0 0 3em;

                @include tn-flex-row;
                flex-direction: column;
                align-items: flex-end!important;

                span {
                    margin-bottom: 1em;
                    white-space: nowrap;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(0, -50%)!important;
                    width: auto;
                    transition: all .4s!important;
                    opacity: 0;

                    &:nth-child(2){
                        top: 50%;
                    }

                    &:last-child{
                        top: 100%;
                    }
                }
                a:not(i){
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1em;
                    //white-space: nowrap;
                    width: 100%;
                    height: auto;
                    border-radius: 1000px;
                    padding: 0.5em 1em 0.5em 0.5em;
                    display: flex;
                    align-items: center;
                    gap: 0.5em;
                }
            }

            &.btn-large {
                padding: 0;
                @include tn-flex-row;
                justify-content: flex-end;
            }
        }

        .btn--bg{
            width: 10vh;
            height: 10vh;
            position: absolute;
            background: #2a2929d9;
            transform: scale(.1);
        }

        &.active--dynamic--btt{
            .btn-floating div:not(.container-i) {
                visibility: visible;
                //transform: translateY(0) scaleY(1);
                opacity: 1;
            }
        }
        .spanActive{
            opacity: 1!important;
        }
    }

    main{
        width: 100%;
        height: auto;

        .header{
            height: auto;
            padding: $padding1;
            background: var(--main_container);

            @include tn-flex-column;
            @include justify-left;

            gap: .5em;

            @mixin element{
                background: var(--button);
                padding: $padding1;
                border-radius: var(--border1);
                width: 100%;
            }

            .content--beforeTravel{
                $h : .5em;
                height: auto;
                width: 100%;

                h1{
                    color: var(--main_title);
                }

                @include tn-flex-column;
                align-items: flex-start;
                gap: $h;

                div[class^="shortcut"] a{
                    border: 1px solid var(--grey1);
                }
                div[class^="shortcut"] a{
                    @include element;
                    text-decoration: none;
                    color: black;

                    @include flex;
                }

                .shortcuts{
                    @include tn-flex-row;
                    width: 100%;
                    gap: $h;
                    font-size: 25px;
                }
            }
            .banner--timer{
                @include element;
                text-decoration: none;
                color: black;
                width: 100%;
                background: var(--banner);

                @include flex;
            }
            .bottom--line{
                @include tn-flex-row;
                width: 100%;
                gap: 1em;
                align-items: stretch!important;
                label{
                    @include tn-flex-row;
                    gap: 1em;
                    white-space: nowrap;
                    width: 100%;
                    color: var(--secondary_title);

                    select{
                        border-radius: var(--border1);
                        //background: var(--secondary_container);
                        background: var(--w);
                        border: 1px solid var(--grey1);
                    }
                }
                a{
                    border-radius: var(--border1);
                    width: 8vh;
                    font-size: 25px;
                    text-decoration: none;
                    color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-content: center;
                    padding: 0 1em;
                    //background: var(--secondary_container);
                    background: var(--w);
                    border: 1px solid var(--grey1);
                }
            }

        }
        .header.travel--on--style{
            @include tn-flex-column;
            align-items: flex-start!important;

            .content--beforeTravel{
                width: 100%!important;
                @include tn-flex-row;
                justify-content: space-between;
                line-height: 2;

                .shortcuts{
                    width: auto!important;
                    height: auto!important;

                    display: none;

                    a[class^="shortcut"]{
                        border-radius: 1000px!important;
                        width: 8vh;
                        height: 8vh;
                        font-size: 25px;
                        text-decoration: none;
                        color: black;

                        @include flex;
                    }
                }
            }
            label{
                @include tn-flex-row;
                gap: 1em;
                white-space: nowrap;
                width: 100%;
            }
            .banner--timer{
                display: none!important;
            }
        }

        .disclaimer--time{
            @include tn-flex-row;
            gap: 1em;
            background: var(--banner);
            padding: $padding1;
            width: 100%;

            display: none;
            opacity: 0;
        }

        .content{
            height: auto;
            width: 100%;
            padding: $padding1;
            overflow-x: hidden;
            overflow-y: hidden;

            @include tn-flex-column;

            .timeline{
                height: 100%;
                width: 100%;
                padding-bottom: 2em;

                @include tn-flex-column;

                @mixin labels{
                    background: var(--timeline);
                    color: var(--tag);
                    min-width: 20vw;
                    width: fit-content;
                    padding: .5em;
                    border-radius: 1000px;

                    @include flex;
                }

                .timeline--start,
                .timeline--end{
                    @include labels;
                    border: 1px solid transparent;
                    z-index: 1000!important;

                    &.start_trip{
                        background: var(--primair_color);
                        border: 1px solid var(--primair_color);
                        //color:#0b2935!important;
                        color: var(--w)!important;
                    }
                }

                .timeline--line{
                    width: 100%;
                    z-index: 1;

                    @include tn-flex-column;
                    gap: .1em;
                    $value : 8px;

                    .container{
                        transition: all .5s!important;
                    }

                    .container:first-child{
                        margin-top: $value;
                    }
                    .container:last-child{
                        margin-bottom: $value;
                    }
                }

                .timeline--line--draw,
                .timeline--line--evolution{
                    position: absolute;
                    border: 2px solid var(--timeline);
                    width: 0;
                    min-height: 10vh;
                    height: auto;
                    z-index: 0;
                    transition: all .5s!important;
                }
                .timeline--line--evolution{
                    width: 4px;
                    top: 314px;
                    max-height: 1182px;
                    background: var(--primair_color);
                    border: 0;
                    min-height: 0!important;
                    z-index: 9998;

                    i{
                        position: absolute;
                        bottom: -5px;
                        font-size: 22px;
                        left: 50%;
                        transform: translateX(-50%) scale(1);
                        border-radius: 1000px;
                        padding: 0.2em;
                        background: var(--primair_color);
                        color: var(--w);
                        z-index: 9999;
                        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
                        animation: pulse-black 2s infinite;
                    }

                    @keyframes pulse-black {
                        0% {
                            box-shadow: 0 0 0 0 rgba(57, 155, 161, 0.7);
                        }

                        70% {
                            box-shadow: 0 0 0 10px rgba(57, 155, 161, 0);
                        }

                        100% {
                            box-shadow: 0 0 0 0 rgba(57, 155, 161, 0);
                        }
                    }

                    .hidden_ico{
                        display: none;
                    }
                }
            }

            .clients{
                position: absolute;
                top: 0;
                right: 0;
                width: 49%;
                height: fit-content;
                z-index: 1000;

                @include tn-flex-row;
                gap: 1.2em;
            }
        }

        .car--info{
            height: auto;
            width: 100%;
            padding: $padding1;
            overflow-x: hidden;
            overflow-y: hidden;

            @include tn-flex-column;
            @include justify-left;

            h1{
                color: var(--main_title);
            }

            hr{
                width: 100%;
                border: 1px solid var(--grey1);
            }

            .inside{
                width: 100%;
                margin-top: 1em;

                p{
                    color: var(--grey_contrast);
                }

                .wrapper{
                    @include tn-flex-column;
                    width: 100%;
                    margin: 1em 0;
                    box-shadow: 0 6px 15px 0 var(--box_shadow);
                    overflow: hidden;
                    border-radius: var(--border1);
                    border: 0;

                    p{
                        color: #000;
                    }

                    .im--car{
                        @include tn-flex-row;

                        justify-content: space-between;
                        background: var(--w);
                        width: 100%;
                        height: 10vh;
                        border: 0;

                        .col-l,
                        .col-r{
                            width: 10%;
                            background: var(--client);
                            height: 100%;
                            @include tn-flex-column;
                            justify-content: space-evenly;
                            color: var(--w);
                            font-size: 18px;

                            p{
                                color: var(--w);
                            }
                        }

                        .num{
                            @include tn-flex-row;
                            .numbers{
                                font-size: 48px;
                                position: relative;

                                .hide{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    --stripe1 : var(--main_container);
                                    --stripe2 : var(--timeline);
                                    background: repeating-linear-gradient(
                                                    45deg,
                                                    var(--stripe1),
                                                    var(--stripe1) 10px,
                                                    var(--stripe2) 10px,
                                                    var(--stripe2) 20px
                                    );
                                    border-radius: var(--border1);
                                    height: 100%;
                                    width: 100%;
                                    border: 1px solid var(--timeline);
                                }
                            }
                        }

                    }

                    img{
                        width: 100%;
                        border: 0;
                    }

                }
            }
        }
    }
    main.disabled--main{
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: var(--disabled_main);
            opacity: .75;
            height: 100%;
            width: 100%;
            z-index: 9999;
        }
    }

    .footer--copyright{
        height: 10vh;
        width: 100%;
        background: var(--main_container);
        @include tn-flex-row;

        p{
            color: var(--secondary_title);
        }
        a{
            color: var(--link_visited);
            &:active{
                color: var(--link_visited);
            }
        }
    }

    .modal{
        //display: none!important;
        z-index: 99999;
        min-width: 200px;
        width: 80%;
        //min-height: 30%;
        height: fit-content;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 25vh);
        background: var(--main_container);
        box-shadow: 0 6px 16px 0 var(--box_shadow_modal);
        border-radius: var(--border2);
        padding: $padding2;

        @include tn-flex-column;
        @include justify-left;

        h1{
            color: var(--main_title);
        }
        h3{
            color: var(--secondary_title);
        }

        .content{
            @include tn-flex-column;
            @include justify-left;

            width: 100%;
            height: auto;
            margin-top: 1em;
            gap: 1em;

            @mixin labels{
                label{
                    @include tn-flex-column;
                    @include justify-left;
                    gap: .5em;
                    width: 100%;
                    color: var(--main_title);
                    font-weight: bold;

                    select{
                        //width: 100%;
                        border: 1px solid var(--grey1);
                        //outline: var(--primair_color);
                        padding: .5em;
                        border-radius: var(--border1);
                    }
                    input{
                        height: 100%;
                        width: 100%;
                        text-indent : 40%;
                        border: 1px solid var(--grey1);
                        border-radius: var(--border1);
                    }

                    &:first-child{
                        flex: 4;
                    }
                    &:last-child{
                        flex: 1;
                    }
                }
                p{
                    color: var(--main_title);
                    font-weight: bold;
                }
            }

            .luggage--all{
                @include tn-flex-column;
                @include justify-left;
                gap: .5em;
                .luggage{
                    @include tn-flex-row;
                    align-items: stretch!important;
                    justify-content: space-between!important;
                    gap: .5em;
                    width: 100%;

                    @include labels;
                }
                p:last-child{
                    color: var(--danger);
                    font-weight: bold;
                    opacity: 0;
                    display: none;
                }
            }


            @include labels;

            .footer--submit{
                @include tn-flex-row;
                align-items: stretch!important;
                //gap: 1em;
                width: 100%;
                button{
                    width: 0;
                    opacity: 0;
                    padding: $padding1 0;
                    transition: all .5s!important;
                }
                button:not(.remove--input){
                    outline: none;
                    background: var(--primair_color);
                    color: #fff!important;
                    font-weight: bold;
                    border: 1px solid transparent;
                    border-radius: var(--border1);
                }
                .remove--input{
                    outline: none;
                    font-weight: bold;
                    height: 100%;
                    border-radius: var(--border1);
                    border: 1px solid var(--grey1);
                    background: none;
                    color: var(--main_title);
                }
            }

        }

    }

    .desktopContainer{
        display: none;
    }

    @media screen and (min-width: 600px) {
        .desktopContainer{
            display: flex!important;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 9999999;
            background: var(--main_container);
            @include tn-flex-column;

            .wrapper{
                color: var(--main_title);
                width: 60%;
                height: auto;
                @include tn-flex-column;
                @include justify-left;
                gap: 1em;

                img{
                    width: 50%;
                    height: auto;
                }
                h1{
                    font-weight: initial;
                }
            }

        }
    }
}